<div class="userholder text-white">
   <div class="userinfo">
      <div class="username">
         <h4 class="m-0">{{username}}</h4>
      </div>
      <div class="email">
         <h6 class="m-0">{{email}}</h6>
      </div>
      <div class="platform">
         <h5 class="m-0">{{platform}}</h5>
      </div>
      <div class="created-on">
         <h5 class="m-0">{{created_on}}</h5>
      </div>
   </div>
</div>