@import "../../node_modules/bootstrap/scss/bootstrap";

@font-face {
  font-family: EBGaramond;
  src: url(../resources/fonts/EB_Garamond/static/EBGaramond-Regular.ttf);
}


.p-m-t{
  margin-top : 16px;
}

.b-link-left{

}

.h1-font{
   font-family: "EBGaramond";
}
