@import "../../node_modules/bootstrap/scss/bootstrap";
@font-face {
   font-family: EBGaramond;
   src: url("../resources/fonts/EB_Garamond/static/EBGaramond-Regular.ttf");
}

.garamond-font {
   // font-family: "EBGaramond";
}

body,
html {
   height: 100%;
   width: 100%;
   margin: 0;
   padding-top: 0; //40px or 28px if including title navbar
}

.maincontainer {
   //
   overflow: hidden;
   text-overflow: ellipsis;
   padding: 0;
}

.main-page {
   margin-bottom: 130px;
   height: 100%;
   min-height: 100vh;
}

.pagetitlebox {
   padding-left: 10px;
   margin: 0;
   width: 100%;
   position: fixed;
   -webkit-user-select: none;
   -webkit-app-region: drag;
}

.pagetitle {
   white-space: nowrap;
   // max-width: 100%;
   padding-top:2px;
   padding-bottom:2px;
   margin:0px;
}

.leftbar {
   width: 100px;
   vertical-align: top;
   position: fixed;
   height: 100%;
   min-height: 100vh;
   -webkit-user-select: none;
}

.leftbarmovementfix{
   min-width: 100px;
}

.avoidleftbar {
   padding-left: 100px;
   white-space: nowrap;
}

.mainpagedrop {
   margin-top: 40px;
}
//
// handlebars template css
//

.songholder {
   display: table;
   width: 100%;
   margin-top: 10px;
   padding-left: 25px;
}

.albumcover {
   display: table-cell;
   width: 100px;
}

.songinfo {
   display: table-cell;
   vertical-align: top;
   padding-left: 10px;
   max-width: 100%;
}

.songtitle {
   // background:#104040;
   margin: 0;
   padding-top: 4px;
   max-width: 100%;
}

.songalbum {
   // background:#804040;
   margin: 0;
   padding-top: 10px;
   max-width: 100%;
}

.songartist {
   // background:#404040;
   padding-top: 10px;
   padding-bottom: 4px;
   margin: 0;
   max-width: 100%;
}

.userholder {
   display: table;
   width: 100%;
   margin-top: 10px;
   padding-left: 25px;
}

.userpic {
   display: table-cell;
   width: 100px;
}

.userinfo {
   display: table-cell;
   vertical-align: top;
   padding-left: 10px;
   max-width: 100%;
}

.username {
   // background:#104040;
   margin: 0;
   padding-top: 4px;
   max-width: 100%;
}

.email {
   // background:#804040;
   margin: 0;
   padding-top: 10px;
   max-width: 100%;
}

.platform {
   // background:#404040;
   padding-top: 10px;
   padding-bottom: 4px;
   margin: 0;
   max-width: 100%;
}

.created-on {
   // background:#404040;
   padding-top: 10px;
   padding-bottom: 4px;
   margin: 0;
   max-width: 100%;
}

//
// table helpers
//
.maintable {
   display: table;
   width: 100%;
}

.tablecell {
   display: table-cell;
   vertical-align: top;
   max-width: 100%;
}

//
// colors
//
.bg-black {
   background: #000000;
}

.bg-darkgray {
   background: #262626;
}

.bg-gray {
   background: #404040;
}
//menubar
.saturate { filter: saturate(3); }
.grayscale { filter: grayscale(100%); }
.contrast { filter: contrast(160%); }
.brightness { filter: brightness(0.25); }
.blur { filter: blur(3px); }
.invert { filter: invert(100%); }
.sepia { filter: sepia(100%); }
.huerotate { filter: hue-rotate(180deg); }
.rss.opacity { filter: opacity(50%); }
